@page
@model RazorPagesIgnis.Pages.ProjectsAssigned.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProjectAssigned</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectAssigned.Specialty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectAssigned.Specialty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectAssigned.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectAssigned.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectAssigned.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectAssigned.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectAssigned.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectAssigned.Client)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProjectAssigned.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
