@page
@model RazorPagesIgnis.Pages.ProjectsAssigned.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectAssigned</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectAssigned.Specialty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectAssigned.Specialty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectAssigned.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectAssigned.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectAssigned.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectAssigned.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectAssigned.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectAssigned.Client)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProjectAssigned.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
