@page
@model RazorPagesIgnis.Pages.ProjectsFinished.IndexModel
@using Microsoft.AspNetCore.Identity
@using RazorPagesIgnis.Areas.Identity.Data
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Proyectos finalizados";
}

<h1>Proyectos finalizados.</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Especialidad
            </th>
            <th>
                Nivel
            </th>
            <th>
                Descripción
            </th>
            <th>
                Nº de horas
            </th>
            @if(!User.IsInRole(IdentityData.NonAdminRoleNames[0]))
            {
                <th>
                    Cliente
                </th>
            }
            @if(!User.IsInRole(IdentityData.NonAdminRoleNames[1]))
            {
            <th>
                Técnico
            </th>
            }
            <th>
                Feedback
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProjectFinished) {
    @if(User.IsInRole(IdentityData.AdminRoleName) || @UserManager.GetUserId(User) == item.Technician.Id || @UserManager.GetUserId(User) == item.Client.Id)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHours)
            </td>
            @if(!User.IsInRole(IdentityData.NonAdminRoleNames[0]))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Name)
                </td>
            }
            @if(!User.IsInRole(IdentityData.NonAdminRoleNames[1]))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Technician.Name)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Feedback.Comment)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Detalles</a>
                @if(!User.IsInRole(IdentityData.NonAdminRoleNames[1]))
                {
                    <span>|</span>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a>
                    <span>|</span>
                    <a asp-page="./Delete" asp-route-id="@item.ID">Eliminar</a>
                }
            </td>
        </tr>
    }
}
    </tbody>
</table>