@page
@model RazorPagesIgnis.Pages.Projects.AssignModel
@using Microsoft.AspNetCore.Identity
@using RazorPagesIgnis.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Asignar Técnico";
}

<h1>Asignar técnico</h1>

<h4>Proyecto</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Fecha de nacimiento
            </th>
            <th>
                Nivel
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Technician) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
            <form method="post" asp-route-id="@Model.Project.ID" asp-route-technicianID="@item.Id">
                <!-- <input type="hidden" asp-route-id="@item.Id" /> -->
                <input type="submit" value="Select" class="btn btn-danger" />
            </form>
            </td>   
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}